{% extends 'layout.twig.html' %}

{% block slogan %}
<p class="title">ajouter un bon plan</p>
{% endblock %}

{% block content %}
<form action="{{ path('post_ajouter') }}" method="post" {{ form_enctype(form) }} id="form_bonplan" class="well clearfix" style="margin: auto; width:41%; min-width:260px;" novalidate>
  {{ form_errors(form) }}
  <div class="form_ligne clearfix">
      {{ form_label(form.titre) }}
      {{ form_errors(form.titre) }}
      {{ form_widget(form.titre, { 'attr' : { 'class' : 'span3', 'placeholder' : 'Type something', 'style' : 'max-width: 266px; width: 100%;' } }) }}
  </div>
  <div class="form_ligne clearfix">
    {{ form_label(form.date) }}
    {{ form_errors(form.date) }}
    {{ form_widget(form.date, { 'attr' : { 'class' : 'span3', 'style' : 'max-width: 266px; width: 100%;' } }) }}
  </div>
  <div class="form_ligne clearfix">
      {{ form_label(form.lieu) }}
      {{ form_errors(form.lieu) }}
      {{ form_widget(form.lieu, { 'attr' : { 'class' : 'span3', 'placeholder' : 'Type something', 'style' : 'max-width: 266px; width: 100%;' } }) }}
  </div>
  <div class=​"controls clearfix">​
      {{ form_label(form.lieu, 'DESCRIPTION', { 'attr' : { 'style' : 'padding-bottom:0px;', 'class' : 'input-xlarge' }}) }}
      {{ form_errors(form.description) }}
      {{ form_widget(form.description) }}
  </div>​
  <div class="form_ligne clearfix">
      {{ form_label(form.prix, 'Prix en €') }}
      {{ form_errors(form.prix) }}
      {{ form_widget(form.prix, { 'attr' : { 'class' : 'span3', 'placeholder' : '0.00 €', 'style' : 'max-width: 266px; width: 100%;' } }) }}
  </div>
  <button type="submit" class="btn gradient">Valider</button>
  {{ form_widget(form._token) }}
</form>
{% endblock %}

{% block subcontent %}
<div class="hero-unit">
	<div class="container-fluid">
	    <div class="navbar">
	        <div class="navbar-inner">
	            <div class="container">
	                <div class="nav">
	                    <ul class="nav clearfix" id="content_footer" style="text-align: center ">
	                        <li class="bt_footer"><a href="{{ path('home') }}"><img src="/images/ico_home.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                        <li class="bt_footer"><a href="{{ path('recherche') }}"><img src="/images/ico_search.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                        <li class="bt_footer"><a href="{{ path('recherche') }}"><img src="/images/ico_fav.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                    </ul>
	                </div><!-- /.nav-collapse -->
	            </div> <!--container-->
	        </div><!-- /navbar-inner -->
	    </div><!-- /navbar -->
   </div>
</div>
{% endblock %}