{% if bonplans is empty %}
    Il n'y a pas de bon plan aujourd'hui.
{% else %}
    {% for bonplan in bonplans %}
        <a href="{{ app.url_generator.generate('detail', {'id' : bonplan.id}) }}" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">bonplan.tag</p>
            <p><span class="date">{{ bonplan.getSmallDate }}</span>  <span class="lieu">{{ bonplan.lieu }}</span></p>
            <p><span class="description">{{ bonplan.description|nl2br }}</span></p>
        </a>
    {% endfor %}
{% endif %}