{% extends 'layout.twig.html' %}

{% block slogan %}
<p class="title">Categorie bon plan</p>
{% endblock %}

{% block content %}
    {% if error is defined %}
        {{ error }}
    {% elseif bonplan is defined %}
    <div class="hero-unit detailcategories">
        <p class="tag_cat">
            bonplan.tag
        </p>
        <p>
            <span class="date">{{ bonplan.getFullDate }}</span>  <span class="lieu">{{ bonplan.lieu }}</span>
        </p>
        <p class="description_cat" style="text-align: left;">
            {{ bonplan.titre }}
        </p><br />
        <ul class="thumbnails img_bonplan">
            <li class="span3">
                <a href="loisirs.php" class="thumbnail"><img src="/images/img_bonplan.jpg" alt="#" /></a>
            </li>
        </ul>
        <p class="description_bonplan">
            {{ bonplan.description|nl2br }}
        </p>
        <p style="display: block;font-size: 20px; font-family:BebasNeueRegular;">
            Prix: {{ bonplan.prix }} €
        </p>
        <p style="display: block; clear:left; font-size: 13px">
            bonplan.author
        </p><br />
        <a class="btn btn-primary btn-large" style="display: block; ">
            Ajouter aux Favories
        </a>
        <p style="display: block; font-size: 20px; margin-top: 25px; font-family:BebasNeueRegular; ">
            Partager sur
            <img style="width: 40px; margin: 0 5px;" src="images/ico_facebook.png" alt="facebook" />
            <img style="width: 40px; margin: 0 5px;" src="images/ico_twitter.png" alt="twitter" />
            <img style="width: 40px; margin: 0 5px;" src="images/ico_rss.jpg" alt="rss" />
        </p>
    </div>
    {% endif %}
{% endblock %}

{% block subcontent %}
<div class="hero-unit">
	<div class="container-fluid">
	    <div class="navbar">
	        <div class="navbar-inner">
	            <div class="container">
	                <div class="nav">
	                    <ul class="nav clearfix" id="content_footer" style="text-align: center ">
	                        <li class="bt_footer"><a href="{{ path('home') }}"><img src="/images/ico_home.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                        <li class="bt_footer"><a href="{{ path('recherche') }}"><img src="/images/ico_search.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                        <li class="bt_footer"><a href="{{ path('recherche') }}"><img src="/images/ico_fav.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                    </ul>
	                </div><!-- /.nav-collapse -->
	            </div> <!--container-->
	        </div><!-- /navbar-inner -->
	    </div><!-- /navbar -->
   </div>
</div>
{% endblock %}