{% extends 'layout.twig.html' %}

{% block content %}
    <div id="home_bloc">
        <div class="clearfix" id="content_ico" >
            <div class="span8 bloc_cat">
                <a class="cat" href="{{ path('categories') }}">
                    <img class="ico" src="/images/ico_bonplan.jpg" alt="" />
                </a>
            </div>
            <div class="span4 bloc_cat">
                <a class="cat" href="{{ path('recherche') }}">
                    <img class="ico" src="/images/ico_recherche.jpg" alt="" />
                </a>
            </div>
            <div class="span8 bloc_cat">
                <a class="cat" href="plandujour.php">
                    <img class="ico" src="/images/ico_bonplandujour.jpg" alt="" />
                </a>
            </div>
            <div class="span4 bloc_cat">
                <a class="cat" href="favories.php">
                    <img class="ico" src="/images/ico_favoris.jpg" alt="" />
                </a>
            </div>
            <div class="span8 bloc_cat">
                <a class="cat" href="ajouterunbonplan.php">
                    <img class="ico" src="/images/ico_ajouterbonplan.jpg" alt="" />
                </a>
            </div>
            <div class="span4 bloc_cat">
                <a class="cat" href="index.html#">
                    <img class="ico" src="/images/ico_suiveznous.jpg" alt="" />
                </a>
            </div>
        </div> <!--content_ico-->
    </div> <!--home_bloc-->
{% endblock %}