<a href="bonplandetail.php" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Cinema</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">18h - mairie du 2e</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Spectacle</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">16h - théâtre de Cifacom du 93</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Sport</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">14h - Planète Cifacom du 93</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Atelier</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">10h - Starbuck du 18e</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Visite</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">22h - cinéma UGC du 10e</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Rencontre</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">00h - Fnac La Défense</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Art</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">12h - Mont St Michel</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>
<a href="favories.php#" class="thumbnail gradient bloc_liste">
    <p class="tag_cat">Spectacle</p>
    <p><span class="date">30 MARS</span>  <span class="lieu">09h - Parc Astérix</span></p>
    <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
</a>