{% extends 'layout.twig.html' %}

{% block content %}
<div id="home_bloc">
    <div class="clearfix" id="content_ico" >
        <div class="span8 bloc_cat">
            <a class="cat" href="loisirs.php">
                <img class="ico" src="/images/ico_loisir.jpg" alt="" />
            </a>
        </div>
        <div class="span4 bloc_cat">
            <a class="cat" href="soirees.php">
                <img class="ico" src="/images/ico_soirees.jpg" alt="" />
            </a>
        </div>
        <div class="span8 bloc_cat">
            <a class="cat" href="bienetre.php">
                <img class="ico" src="/images/ico_bienetre.jpg" alt="" />
            </a>
        </div>
        <div class="span4 bloc_cat">
            <a class="cat" href="cadeaux.php">
                <img class="ico" src="/images/ico_cadeaux.jpg" alt="" />
            </a>
        </div>
        <div class="span8 bloc_cat">
            <a class="cat" href="restaurants.php">
                <img class="ico" src="/images/ico_restaurant.jpg" alt="" />
            </a>
        </div>
        <div class="span4 bloc_cat">
            <a class="cat" href="sedeplacer.php">
                <img class="ico" src="/images/ico_sedeplacer.jpg" alt="" />
            </a>
        </div>
        <div class="span4 bloc_cat">
            <a class="cat" href="shopping.php">
                <img class="ico" src="/images/ico_shopping.jpg" alt="" />
            </a>
        </div>
        <div class="span4 bloc_cat">
            <a class="cat" href="viepratique.php">
                <img class="ico" src="/images/ico_viepratique.jpg" alt="" />
            </a>
        </div>
    </div> <!--div content_ico-->
</div> <!--div home_bloc-->
{% endblock %}

{% block subcontent %}
<div class="hero-unit">
    <div class="container-fluid">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav">
                    <ul class="nav clearfix" id="content_footer" style="text-align: center "> 
                        <li class="bt_footer"><a href="{{ path('home') }}"><img src="/images/ico_home.jpg" style="width: 100%;max-width: 80px;"/></a></li>
                        <li class="bt_footer"><a href="{{ path('recherche') }}"><img src="/images/ico_search.jpg" style="width: 100%;max-width: 80px;"/></a></li>
                        <li class="bt_footer"><a href="favories.php"><img src="/images/ico_fav.jpg" style="width: 100%;max-width: 80px;"/></a></li>
                        <!-- @todo href sur favoris -->
                    </ul>
                </div><!-- /.nav-collapse -->
            </div> <!--container-->
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
   </div> 
</div>   
{% endblock %}