{% extends 'layout.twig.html' %}

{% block slogan %}
<p class="title">Mes favoris</p>
{% endblock %}

{% block content %}
<form class="well" style="margin: auto;">
	<div class="hero-unit">
        <a href="bonplandetail.php" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Cinema</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">18h - mairie du 2e</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Spectacle</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">16h - théâtre de Cifacom du 93</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Sport</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">14h - Planète Cifacom du 93</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Atelier</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">10h - Starbuck du 18e</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Visite</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">22h - cinéma UGC du 10e</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Rencontre</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">00h - Fnac La Défense</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Art</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">12h - Mont St Michel</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
        <a href="favories.php#" class="thumbnail gradient bloc_liste">
            <p class="tag_cat">Spectacle</p>
            <p><span class="date">30 MARS</span>  <span class="lieu">09h - Parc Astérix</span></p>
            <p><span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget scelerisque velit."</span></p>
        </a>
	</div>
</form>
{% endblock %}

{% block subcontent %}
<div class="hero-unit">
	<div class="container-fluid">
	    <div class="navbar">
	        <div class="navbar-inner">
	            <div class="container">
	                <div class="nav">
	                    <ul class="nav clearfix" id="content_footer" style="text-align: center "> 
	                        <li class="bt_footer"><a href="{{ path('home') }}"><img src="/images/ico_home.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                        <li class="bt_footer"><a href="{{ path('recherche') }}"><img src="/images/ico_search.jpg" style="width: 100%;max-width: 80px;"/></a></li>
	                    </ul>
	                </div><!-- /.nav-collapse -->
	            </div> <!--container-->
	        </div><!-- /navbar-inner -->
	    </div><!-- /navbar -->
   </div> 
</div> 
{% endblock %}